<h3>Creation Complete!</h3>

<p>An email has been sent to <strong><%=h @employee.email %></strong> with a temporary password.</p>

<p>When <strong><%=h @employee.name %></strong> logs in for the first time, he or she will be prompted to change the temporary password to something reasonably secure.</p>

<h3>Testing the Phone Number</h3>

<p><%= click_to_dial(@employee.mobile_number, :link_text => "Call " + format_phone_number(@employee.mobile_number)) %></p>

<p>Sometimes a phone number is improperly formatted and therefore unreachable by the system. You can test the number you gave the system by clicking the link above.</p>

<p><%= link_to "View this employee", @employee %> | <%= "Group Editor", group_editor_url %></p>