<h2>
  <%=h @employee.name %>
  <% if @employee.on_vacation %>
  <span class="on-vacation">is on vacation right now!"</span>
  <% end %>
</h2>


<p><strong>Extension:</strong> <%=h @employee.extension %></p>

<p><strong>Email:</strong> <%=h @employee.email %></p>

<p><strong>Voicemail PIN:</strong> <%=h @employee.voicemail_pin %></p>

<p><strong>Mobile number:</strong> <%= click_to_dial(@employee.mobile_number) %></p>

<p><strong>Time zone:</strong> <%=h @employee.time_zone %></p>

<p><strong><%= @employee.name %>'s current time:</strong> <%= @employee.current_time_in_timezone.strftime('%I:%M %p') %></p>

<%= link_to 'Edit', edit_employee_path(@employee) %> | <%= link_to 'Back', employees_path %>