= render :partial => "change_password" if @logged_in_user.must_change_password?

%p You can...

%ul
  %li= link_to "Configure My Account", :controller => "employees", :action => "configure"
  %li= link_to "View a history of calls", :controller => "calls", :action => "index"
  %li= link_to "View my voicemails", :controller => "voicemails", :action => "index"
  %li= render :partial => "make_call"  
