<h2>Editing Settings</h2>

<p>When the sound file recorder is complete, there will be many more features added here.</p>

<% form_tag url_for(:controller => "settings", :action => "editor"), :method => :post do %>

<%= submit_tag "Save!" %>

  <div class="setting_editor" id="global_settings">
  <h4>Global Settings</h4>
  <% @settings.each do |setting| %>
    <%= global_setting(setting) %>
  <% end %>
  </div>
  
  <h3>Settings by Group</h3>
  
  
  <% @groups.each do |group| %>
  <div class="setting_editor">
  <h4><%= h group.name %></h4>
  <% @settings.each do |setting| %>
  <%= group_setting(setting, group) %>
  <% end %>
  </div>
  <% end %>
  
<%= submit_tag "Save!" %>

<% end %>

<%= highlight_errors @save_errors if @save_errors.any? %>