<h2>Editing Settings</h2>

<p>When the sound file recorder is complete, there will be many more features added here.</p>

<% form_tag url_for(:controller => "settings", :action => "editor"), :method => :post do %>

<%= submit_tag "Save!" %>

<h3>Global Settings</h3>

  <div class="setting_editor" id="global">
    <% @settings.each do |setting| %>
      <label for="<%= "global_#{setting.global_setting_override.id}" %>"><%= setting.human_name %>: </label>
      <%= text_field_tag "global_#{setting.global_setting_override.id}", setting.global_setting_override.value %><br/>
    <% end %>  
  </div>
  
  <h3>Settings by Group</h3>
  
  <div class="setting_editor">
    <% @groups.each do |group| %>
    <h4><%= h group.name.titleize %></h4>
      <% group.group_setting_overrides.each do |override| %>
        <label for="<%= "group_#{group.id}_#{override.id}" %>"><%= override.human_name %>: </label>
        <%= text_field_tag "group_#{group.id}_#{override.id}", override.value %><br/>
      <% end %>
    <% end %>  
  </div>
  
<% end %>